<div id="about-container" class="container">
    <h1>About</h1>
    <p class="lead">This web-application is made as hobby. Any information this application receives about users will be used only for users' own personalization, thus any information will not be shared with any third participant. This application provides currently livechat and blog feature. Check out all code from <a href="https://github.com/ppeerttu/CBApp">github</a>.</p>
    <address>
        <strong>Author</strong><br>
        Perttu Kärnä<br>
        <a href="mailto:#">perttu.karna@gmail.com</a>
    </address>
</div>
