<div id="about-container" class="container">
    <h1>About</h1>
    <p class="lead">This is a web-project application made as hobby. Any information this application receives about users will be used only for users' own personalization, thus any information will not be shared with any third participant. This application provides you currently livechat, but in the future a blog feature might be added as well.</p>
    <address>
        <strong>Author</strong><br>
        Perttu Kärnä<br>
        <a href="mailto:#">perttu.karna@gmail.com</a>
    </address>
</div>
