<div class="container">
    <ul class="nav nav-justified">
        <li><a href="#/blog/main">Main</a></li>
        <li><a href="#/create_post">Create post</a></li>
    </ul>
    <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h1>Latest blog posts...</h1>
            <div ng-repeat="post in recentPosts | orderBy: '-createdAt'">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#/blog/{{post.UserId}}/{{post.id}}">
                            <img class="media-object resize img-thumbnail" ng-src="{{post.comImg}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3>{{post.title}}</h3>
                        <p>
                            Posted {{post.createdAt | date:"d.M.y HH:mm"}}
                        </p>
                        <p>
                            By <strong>{{post.User.firstName}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h1>Your posts</h1>
            <div ng-repeat="post in usersPosts | orderBy: '-createdAt'">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#/blog/{{post.UserId}}/{{post.id}}">
                            <img class="media-object resize img-thumbnail" ng-src="{{post.comImg}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3>{{post.title}}</h3>
                        <p>
                            Posted {{post.createdAt | date:"d.M.y HH:mm"}}
                        </p>
                        <p>
                            By <strong>{{post.User.firstName}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-4">
            <h1>Search posts</h1>
            <div class="input-group">
                <input type="text" ng-model="searchTerm" class="form-control" placeholder="Search for post...">
                <span class="input-group-btn">
                    <button class="btn btn-default" ng-click="searchPost()" type="button">Go!</button>
                </span>
            </div>
            <div class="alert alert-danger" role="alert" ng-if="searchError">
                {{searchError}}
            </div>

            <div class="alert alert-info" role="alert" ng-if="searchPosts">
                <ng-pluralize count="searchPosts.length"
                            when="{'0': 'No results found',
                                    'one': 'One result found',
                                    'other': '{} results found'}">
                            </ng-pluralize>

            </div>

            <div ng-repeat="post in searchPosts | orderBy: '-createdAt'">
                <div class="media">
                    <div class="media-left media-middle">
                        <a href="#/blog/{{post.UserId}}/{{post.id}}">
                            <img class="media-object resize img-thumbnail" ng-src="{{post.comImg}}">
                        </a>
                    </div>
                    <div class="media-body">
                        <h3>{{post.title}}</h3>
                        <p>
                            Posted {{post.createdAt | date:"d.M.y HH:mm"}}
                        </p>
                        <p>
                            By <strong>{{post.User.firstName}}</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
