<div id="main-container" class="container" onload="checkLogin()">
    
    <!-- ng-repeat blogs
    <div id="blogs-container" class="panel panel-default">
        <div class="panel-heading"><h3>Blogs</h3></div>

    </div>
    -->

    <div class="jumbotron">
        <h1>Welcome, {{currentUser.firstName}}</h1>
        <p>There is people having conversations in the chat rooms. Would you like to join?</p>
        <p><a class='btn btn-primary btn-lg' href='#/chat' role='button'>Sure!</a></p>
    </div>

</div>