
<div id="profile-container" class="container" onload="checkLogin()">
    <div class="row">
        <div id="img-container" class="col-xs-12 col-sm-6 col-md-4">
        </div>
        <div class="col-xs-12 col-sm-6 col-md-8">
            <div class="well">
                <label>Nickname: </label><p class="primary"><strong>{{currentUser.nickname}}</strong></p>
            </div>

            <div class='well'>
                <label>First name: </label><p class="primary"><strong>{{currentUser.firstName}}</strong></p>
            </div>

            <div class="well">
                <label>Last name: </label><p class="primary"><strong>{{currentUser.lastName}}</strong></p>
            </div>

            <div class="well">
                <label>Email: </label><p class="primary"><strong>{{currentUser.email}}</strong></p>
            </div>
        </div>
    </div>
</div>
