
<div id="profile-container" class="container" onload="checkLogin()">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
        <div id="img-container"></div>
        <h2 class="profile-posts" ng-click="hidePosts()" role="button">Your published posts <span class="caret"></span></h2>
            <div id="post-container" style="display: none;">
                <div ng-repeat="post in usersPosts | orderBy: '-createdAt'">
                    <div class="media">
                        <div class="media-left media-middle">
                            <a href="#/blog/{{post.UserId}}/{{post.id}}">
                                <img class="media-object resize img-thumbnail" ng-src="{{post.comImg}}">
                            </a>
                        </div>
                        <div class="media-body">
                            <h3>{{post.title}}</h3>
                            <p>
                                Posted {{post.createdAt | date:"d.M.y HH:mm"}}
                            </p>
                            <p>
                                By <strong>{{currentUser.firstName}}</strong>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <form name="profileForm" class="col-xs-12 col-sm-6 col-md-6">
            <div class="well">
                <div class="form-group">
                    <label>Nickname: </label>
                    <input type="text" name="nickname" class="form-control" ng-model="currentUser.nickname" min-length="3" required>
                    <div class="alert alert-danger" ng-show="profileForm.nickname.$dirty && profileForm.nickname.$invalid">
                        Nickname should be at least three characters long.
                    </div>
                </div>
            </div>

            <div class='well'>
                <label>First name: </label><p class="primary"><strong>{{currentUser.firstName}}</strong></p>
            </div>

            <div class="well" ng-if="(currentUser.lastName === 'not_set')?false:true">
                <label>Last name: </label><p class="primary"><strong>{{currentUser.lastName}}</strong></p>
            </div>

            <div class="well">
                <label>Email: </label><p class="primary"><strong>{{currentUser.email}}</strong></p>
            </div>

            <div class="well">
                <div class="form-group">
                    <label>New password: </label>
                    <input class="form-control" name="newPass" type="password" ng-model="newPass" required ng-pattern='/(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z])/' ng-minlength="8">
                    <div class="alert alert-danger" ng-show="profileForm.newPass.$invalid && profileForm.newPass.$dirty">
                        Password should be at least 8 characters long and contain at least one uppercase and lowercase character and a number.
                    </div>
                </div>

                <div class="form-group">
                    <label>Re-type password: </label>
                    <input class="form-control" ng-model="confirmPassword" type="password" name="confirmPassword" ng-model="confirmPassword" required match="newPass">
                    <div class="alert alert-danger" ng-show="profileForm.confirmPassword.$error.match && profileForm.confirmPassword.$dirty">Passwords do not match!</div>
                </div>
            </div>
            <div class="alert alert-success" ng-if="message">{{message}}</div>
            <div class="alert alert-danger" ng-if="errorMessage">{{errorMessage}}</div>
            <p class="primary">Fill in your current password if you want change only your nickname.</p>
            <button class="btn btn-default" type="button" ng-click="updatePassword()" ng-disabled="profileForm.$invalid">Update</button>
        </form>
    </div>
</div>
